In [79]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!ls /content/drive/'MyDrive'/'Skill Fatory'/'Юнит 1'/'Project 1.0'/

movie_bd_v5.csv  movie_bd_v5.xls  Movies_IMBD_v4.1_TEMPLATE.ipynb

In [3]:
!cp /content/drive/'MyDrive'/'Skill Fatory'/'Юнит 1'/'Project 1.0'/movie_bd_v5.csv .

In [62]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [5]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

        imdb_id    budget    revenue  ... release_date vote_average release_year
166   tt2883512  11000000   45967935  ...     5/8/2014          7.2         2014
1783  tt0490204  20000000   22222308  ...    3/23/2007          7.0         2007
1672  tt0440963  70000000  442824138  ...     8/3/2007          7.2         2007
702   tt0844286  20000000    5530764  ...     9/9/2008          6.8         2008
1072  tt0337692  25000000    8784318  ...    5/22/2012          5.6         2012

[5 rows x 14 columns]

In [ ]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [63]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data['profit'] = data['revenue'] - data['budget'] #задал значение profit

data['release_date'] = pd.to_datetime(data['release_date']) 
#приведение даты в удобоваримый вид

data['month'] = data['release_date'].dt.month #добавление колонки с номером месяца

data['month_name'] = data.release_date.apply(lambda x: x.strftime('%B')) 
#столбец с названиями месяцев выхода фильма

data['vote_average'] = data['vote_average'].astype(float) 
#перевод значений рейтинга в формат float

from itertools import combinations #для использования в 27 вопросе

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [80]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [ ]:
# тут пишем ваш код для решения данного вопроса:
ans=data.sort_values(by='budget', ascending=False)

display(ans[['original_title','imdb_id']].head(1))

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения
data.sort_values(by='budget', ascending=False).head(1)

       imdb_id     budget     revenue  ... vote_average release_year     profit
723  tt1298650  380000000  1021683000  ...          6.3         2011  641683000

[1 rows x 15 columns]

# 2. Какой из фильмов самый длительный (в минутах)?

In [81]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'#+

In [ ]:
ans=data.sort_values(by='runtime', ascending=False)
display(ans[['original_title','imdb_id']].head(1))

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [82]:
answers['3'] = 'Winnie the Pooh (tt1449283)'#+

In [ ]:
ans=data.sort_values(by='runtime', ascending=True)
display(ans[['original_title', 'imdb_id'] ].head(1))

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [83]:
answers['4'] = '110'#+

In [ ]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [84]:
answers['5'] = '107'#+

In [ ]:
round(data['runtime'].median(axis=0))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [85]:
answers['6'] = 'Avatar	tt0499549' #+

In [ ]:
# лучше код получения столбца profit вынести в Предобработку что в начале

ans=data.sort_values(by='profit', ascending=False)
display(ans[['original_title','imdb_id']].head(1))

    original_title    imdb_id
239         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [89]:
answers['7'] = 'The Lone Ranger	tt1210819' #+

In [ ]:
ans=data.sort_values(by='profit', ascending=True)
display(ans[['original_title','imdb_id']].head(1))

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [88]:
answers['8'] = '1478' #+

In [ ]:
df = data[data.profit > 0]

df.count()

imdb_id                 1478
solo                    1478
summa                   1478
budget                  1478
revenue                 1478
original_title          1478
profit                  1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [90]:
answers['9'] = 'The Dark Knight (tt0468569)' #+

In [ ]:
df=data[data.release_year==2008]
df.sort_values(by='revenue', ascending=False)[['original_title','imdb_id']].head(1)

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [91]:
answers['10'] = 'The Lone Ranger	(tt1210819)' #+

In [ ]:
df=data[(data.release_year >= 2008)&
        (data.release_year<= 2014)]
df.sort_values(by='profit', ascending=True)[['original_title','imdb_id']].head(1)

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [92]:
answers['11'] = 'Drama' #+

In [ ]:
df= data.genres.str.split('|') # Series из списков жанров
genr=df.sum() #суммируются все списки в один
pd.Series(genr).value_counts() # количество уникальных значений по жанрам

ВАРИАНТ 2

In [ ]:
# применение метода  explode()

df= data.genres.str.split('|') # Series из списков жанров
genr=df.explode() #индексация всех элементов списка

genr.value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [93]:
answers['12'] = 'Drama' #+

In [ ]:
data=data[data['profit']>0] #фильтрация по прибыльности

data.genres.str.split('|').explode().value_counts().index[0] # принцип решения, как в предыдущем вопросе

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [94]:
answers['13'] = 'Peter Jackson' #+

In [ ]:
directors=data.pivot_table(['revenue'],['director'],aggfunc='sum')

directors.sort_values(by='revenue', ascending=False).head(1)

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [95]:
answers['14'] = 'Robert Rodriguez' #+

In [ ]:
data.head()

action_data=data[data.genres.str.contains('Action',na=False)]

action_data.director.str.split('|').explode().value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [96]:
answers['15'] = 'Chris Hemsworth' #+

In [ ]:
df = data[data.release_date.str.contains('2012')].copy()

df['actors'] = df.cast.str.split('|') #добавил столбец со списками актеров
df=df.explode('actors')  #заэксплоудил 'actors'

actors_table=df.pivot_table(['revenue'],['actors'],aggfunc='sum')

actors_table.sort_values(by='revenue', ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [97]:
answers['16'] = 'Matt Damon' #+

In [ ]:
df=data[data['budget'] > data['budget'].mean()].copy()
df['actors'] = df.cast.str.split('|')
df=df.explode('actors')
df.actors.value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [98]:
answers['17'] = 'Action' #+

In [ ]:
data['actors'] = data.cast.str.split('|')
data=data.explode('actors')

df=data[data['actors'] == 'Nicolas Cage']
df.genres.str.split('|').explode().value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [99]:
answers['18'] = 'K-19: The Widowmaker	(tt0267626)' #+

In [ ]:
df = data[data.production_companies.str.contains('Paramount Pictures')]
ans = df.sort_values(by='profit', ascending=True)

display(ans[['original_title', 'imdb_id'] ].head(1))

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [100]:
answers['19'] = '2015' #+

In [ ]:

ans = data.pivot_table(['revenue'],['release_year'], aggfunc=sum)

ans.sort_values(by = 'revenue', ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [101]:
answers['20'] = '2014' #+

In [ ]:
df = data[data.production_companies.str.contains('Warner Bro')]

ans = df.pivot_table(['revenue'],['release_year'], aggfunc=sum)

ans.sort_values(by = 'revenue', ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [102]:
answers['21'] = 'September' #+

In [ ]:


data['release_date'] = pd.to_datetime(data['release_date'])

data['month'] = data['release_date'].dt.month

data['month_name'] = data.release_date.apply(lambda x: x.strftime('%B'))

ans=data.pivot_table(['imdb_id'],['month_name'], aggfunc='nunique')
display(ans.sort_values(by=['imdb_id'], ascending=False).index[0])

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [103]:
answers['22'] = '450' #+

In [ ]:

ans = data.query('month_name in ["June", "July", "August"]') 
#отфильтровано по летним месяцам

display(ans['imdb_id'].nunique())

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [104]:
answers['23'] = 'Peter Jackson' #+

In [ ]:
ans = data.query('month_name in ["December", "January", "February"]')

ans['director'] = ans.director.str.split('|')

ans = ans.explode('director')

direcots_winter = ans.pivot_table(['imdb_id'],['director'], aggfunc='nunique')

display(direcots_winter.sort_values(by='imdb_id',ascending=False).index[0])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [105]:
answers['24'] = 'Four By Two Productions' #+

In [ ]:
ans = data.copy()

ans['production_companies'] = ans.production_companies.str.split('|')
ans = ans.explode('production_companies')

ans['len_name'] = ans.original_title.str.len()

pivot_studios = ans.pivot_table(['len_name'],['production_companies'], aggfunc='mean')

display(pivot_studios.sort_values(by='len_name', ascending = False).index[0])

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [106]:
answers['25'] = 'Midnight Picture Show' #+

In [69]:
ans=data.copy()
ans['production_companies'] = ans.production_companies.str.split('|')
ans = ans.explode('production_companies')

def len_words(s):
  return len(s.split())

ans['len_overview'] = ans.overview.apply(len_words)    # как вариант lambda функция(lambda x:len(x.split(' ')))

pivot_studios = ans.pivot_table(['len_overview'],['production_companies'], aggfunc='mean').sort_values(by='len_overview', ascending = False)
display(pivot_studios.index[0])

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [111]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #+

In [78]:
ans = data.copy()

s = ans['vote_average'].quantile(q=0.99, interpolation='higher') #border of 99% vote_average results

display(s)
new_ans = ans[ans['vote_average'] > ans['vote_average'].quantile(q=0.99)]

new_ans.sort_values(by='vote_average', ascending=False)
display(new_ans[['original_title','vote_average']])

7.8

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [112]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint' #+

In [77]:
pairs = Counter()

for i in range(0,len(data)):
  artist = data.cast[i].split('|')
  for j in list(combinations(artist, 2)):
    if j not in pairs:
      pairs[j] = 1
    else:
      pairs[j] += 1

pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [113]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger\t(tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker\t(tt0267626)',
 '19': '2015',
 '2': 'Gods and Generals (tt0279111)',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint'),
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar\ttt0499549',
 '7': 'The Lone Ranger\ttt1210819',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)'}

In [114]:
# и убедиться что ни чего не пропустил)
len(answers)

27